*/*

!orthogonalization*/*.cpp
!orthogonalization*/*.h
!orthogonalization*/*.pro*
!orthogonalization*/*.ui
!orthogonalization*/*.mlx


!point_in_polygon*/*.cpp
!point_in_polygon*/*.h
!point_in_polygon*/*.pro*
!point_in_polygon*/*.ui
!point_in_polygon*/*.mlx
